.notification {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 15px;
    border-radius: 5px;
    display: none; /* Hidden by default */
    color: white;
    z-index: 9999;
}

.notification.success {
    background-color: green;
}

.notification.warning {
    background-color: yellow;
    color: black; /* Text color for yellow background */
}

.notification.error {
    background-color: red;
}

.notification.info {
    background-color: blue;
}
